.header {
    &__top {
        display: flex;
    }

    &__burger {
    }

    &__logo {
    }

    &__right {
        display: flex;
    }

    &__location {
        display: flex;
    }

    &__find {
    }

    &__likes {
        display: flex;
    }

    &__profile {
        display: flex;
    }

    &__bottom {
    }

    &__nav {
    }

    &__nav-list {
        display: flex;
    }

    &__nav-item {
    }

    &__nav-link {
    }

    &__arrow {
    }
}
