.hero {
    
    &__container {
        
    }
    
    &__top {
        background-image: url("./../../images/bg-img.png");
        background-repeat: no-repeat;
        background-position: center;
        width: 1216px;
        height: 350px;
    }
    
    &__img {
        margin-top: 24px;
        margin-left: 24px;
    }
    
    &__btn-wrapper {
        
    }
    
    &__btn-1 {
        font-family: 'Formular';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #FFFFFF;
        border: none;
        background: #0656B4;
        border-radius: 5px;
        opacity: none;
        padding-top: 16px;
        padding-right: 24px;
        padding-bottom: 16px;
        padding-left: 24px;
    }
    
    &__btn-2 {
        border: none;
        opacity: none;
        font-family: 'Formular';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #0656B4;
    }
}
