.hero {
    
    &__container {
        
    }
    
    &__top {
        background-image: url("./../../images/bg-img.png");
        background-repeat: no-repeat;
        background-position: center;
        width: 1216px;
        height: 350px;
    }
    
    &__img {
        margin-top: 24px;
        margin-left: 24px;
    }
    
    &__btn-wrapper {
        display: flex;
        gap: 16px;
        margin-top: 214px;
        margin-left: 684px;
    }
    
    &__btn-1 {
        font-family: 'Formular';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #FFFFFF;
        border: none;
        background: #0656B4;
        border-radius: 5px;
        opacity: none;
        padding-top: 16px;
        padding-right: 24px;
        padding-bottom: 16px;
        padding-left: 24px;
        cursor: pointer;
    }
    
    &__btn-2 {
        border: none;
        opacity: none;
        font-family: 'Formular';
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #0656B4;
        padding-top: 16px;
        padding-right: 24px;
        padding-bottom: 16px;
        padding-left: 24px;
        background: #DFE9F5;
        border-radius: 5px;
        cursor: pointer;
    }
    
    &__bottom {
        padding-top: 24px;
        background: #FFFFFF;
        border-radius: 0px 0px 10px 10px;
    }
    
    &__bottom-wrapper {
        display: flex;
        align-items: center;
    }
    
    &__bottom-heading {
        width: 850px;
        font-family: 'Formular';
        font-style: normal;
        font-weight: 500;
        font-size: 31px;
        line-height: 36px;
        color: #222222;
    }
    
    &__button-bottom {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: #222222;
        border-radius: 30px;
        padding-top: 9px;
        padding-right: 16px;
        padding-bottom: 9px;
        padding-left: 16px;
        margin-right: 5px;
        margin-left: 115px;
    }
    
    &__img-bottom {
        margin-right: 8px;
    }
    
    &__img-bottom-2 {
        margin-right: 15px;
    }
}
